name: Release

on:
  release:
    types:
      - published

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read

jobs:
  pypi-publish:
    name: upload release to PyPI
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python 3.14
      uses: actions/setup-python@v6
      with:
        python-version: 3.14
        cache: 'pip'
        cache-dependency-path: |
          requirements/development.txt
    - name: Install dependencies
      run: |
        python -m pip install -r requirements/development.txt
    - name: Build sdist
      run: |
        rm -rf dist
        python setup.py sdist
    - name: Setup twine
      run: pip install twine
    - name: Check distribution
      run: twine check dist/*
    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        skip-existing: true
